.homepage_bg {

  margin: 0;

background: #1E1E1E;

padding-bottom: 50px;

  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

}

.courses-grid {
  display: flex;
  gap: 20px;
  flex-direction: row;
  width: 100%;
  overflow-x: hidden;

}
.sidebarcon{
  width: 100%;
  height: 100vh;
z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.mainconnn{
padding-top: 20px;
display: flex;
flex-direction: column;
padding-right: 1%;
gap:56px;
z-index: 2;

align-items: flex-end;
  width: 80%;
}
.ttlcon{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.secsh{
  width: 100%;
display: flex;

flex-direction: column;
gap: 56px;
}
.qa-grid{
  display: flex;
justify-content: center;
align-items: flex-end;
width: 100%;

gap: 2.65%;

flex-wrap: wrap;
align-self: stretch;
justify-content: flex-start;
}
.mentors-grid{
  display: flex;
  justify-content: center ;
flex-direction: column;
gap: 32px;}


.rowww{
  display: flex;
width: 100%;
align-items: center;
gap: 16px;
align-self: stretch;
}
.mrow {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch; /* change from center so children can grow */
  min-height: 1000PX;    /* replace fit-content with this */
  gap: 16px;
  align-self: stretch;

}
.shipsS{
    display: flex;
flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow-x: hidden;
    align-content: flex-start;

    border-bottom: 2px solid rgba(255, 255, 255, 0.04);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;
    padding-bottom: 40PX;
    scrollbar-width: none;
}

.ships-wrapper::-webkit-scrollbar {
    display: none;
}
.shipcon{
    display: flex;
flex-direction: row;
    gap: 20px;
    width: 100%;
    overflow-x: hidden;
    align-content: flex-start;


    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;
padding-top: 5px;
    scrollbar-width: none;
}

.ships-wrapper::-webkit-scrollbar {
    display: none;
}
.arrw-wrapper {
  margin-top: 2px;
  transform: scale(0.5);
  transform-origin: top left; /* change anchor if needed */
  display: inline-flex;
}
.accordion-list{
  display: flex;



flex-direction: column;
align-items: flex-start;
gap: 29px;
}

.qll {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 23px 16px;
  border-radius: 16px;
  background: linear-gradient(0deg, #141414 -51.88%, #2C2A32 100%);
}

.ql-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap; /* wrap to multiple lines if needed */
}

.ql-list > * {
  flex: 1 1 220px; /* prevent shrinking, give minimum width */
}
.comcon{
  display: flex;
  flex-direction: row;
  width: 100%;
 
  gap: 20px;
}
.course-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.centering{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.course{
  color: #FFF;
font-family: "Lexend Exa";
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.lvl{
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #FFF;
margin-top: -40px;
font-family: "Lexend Exa";
font-size: 20px;
font-style: normal;
gap:10px;
font-weight: 400;
line-height: normal;
}