.homepage_bg {

  margin: 0;

background: #1E1E1E;

padding-bottom: 50px;

  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

}

.courses-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.sidebarcon{
  width: 100%;
  height: 100vh;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.mainconnn{
padding-top: 20px;
display: flex;
flex-direction: column;
padding-right: 1%;
gap:56px;

align-items: flex-end;
  width: 80%;
}
.secsh{
  width: 100%;
display: flex;
flex-direction: column;
gap: 20px;
}
.qa-grid{
  display: flex;
justify-content: center;
align-items: flex-end;
width: 100%;

gap: 2.65%;

flex-wrap: wrap;
align-self: stretch;
justify-content: flex-start;
}