.homepage_bg {

  margin: 0;

  background:#1E1E1E;;
width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.sidebarcon{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}